<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>Patch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Rename EHC1 to EH01 (USB)</string>
				<key>Find</key>
				<data>
				RUhDMQ==
				</data>
				<key>Replace</key>
				<data>
				RUgwMQ==
				</data>
				<key>TableSignature</key>
				<data>
				RFNEVA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Rename EHC2 to EH02 (USB)</string>
				<key>Find</key>
				<data>
				RUhDMg==
				</data>
				<key>Replace</key>
				<data>
				RUgwMg==
				</data>
				<key>TableSignature</key>
				<data>
				RFNEVA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Rename EUSB to EH01 (USB)</string>
				<key>Find</key>
				<data>
				RVVTQg==
				</data>
				<key>Replace</key>
				<data>
				RUgwMQ==
				</data>
				<key>TableSignature</key>
				<data>
				RFNEVA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Rename USBE to EH02 (USB)</string>
				<key>Find</key>
				<data>
				VVNCRQ==
				</data>
				<key>Replace</key>
				<data>
				RUgwMg==
				</data>
				<key>TableSignature</key>
				<data>
				RFNEVA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Rename XHCI to XHC (USB)</string>
				<key>Find</key>
				<data>
				WEhDSQ==
				</data>
				<key>Replace</key>
				<data>
				WEhDXw==
				</data>
				<key>TableSignature</key>
				<data>
				RFNEVA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Rename XHC1 to XHC (USB)</string>
				<key>Find</key>
				<data>
				WEhDMQ==
				</data>
				<key>Replace</key>
				<data>
				WEhDXw==
				</data>
				<key>TableSignature</key>
				<data>
				RFNEVA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Rename EC0 to EC (USB Power)</string>
				<key>Find</key>
				<data>
				RUMwXw==
				</data>
				<key>Replace</key>
				<data>
				RUNfXw==
				</data>
				<key>TableSignature</key>
				<data>
				RFNEVA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Rename H_EC to EC (USB Power)</string>
				<key>Find</key>
				<data>
				SF9FQw==
				</data>
				<key>Replace</key>
				<data>
				RUNfXw==
				</data>
				<key>TableSignature</key>
				<data>
				RFNEVA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Rename ECDV to EC (USB Power)</string>
				<key>Find</key>
				<data>
				RUNEVg==
				</data>
				<key>Replace</key>
				<data>
				RUNfXw==
				</data>
				<key>TableSignature</key>
				<data>
				RFNEVA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Rename GFX0 to IGPU (Graphics)</string>
				<key>Find</key>
				<data>
				R0ZYMA==
				</data>
				<key>Replace</key>
				<data>
				SUdQVQ==
				</data>
				<key>TableSignature</key>
				<data>
				RFNEVA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Rename PEGP to GFX0 (Graphics)</string>
				<key>Find</key>
				<data>
				UEVHUA==
				</data>
				<key>Replace</key>
				<data>
				R0ZYMA==
				</data>
				<key>TableSignature</key>
				<data>
				RFNEVA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Rename HECI to IMEI (PAVP)</string>
				<key>Find</key>
				<data>
				SEVDSQ==
				</data>
				<key>Replace</key>
				<data>
				SU1FSQ==
				</data>
				<key>TableSignature</key>
				<data>
				RFNEVA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Rename MEI to IMEI (PAVP)</string>
				<key>Find</key>
				<data>
				TUVJXw==
				</data>
				<key>Replace</key>
				<data>
				SU1FSQ==
				</data>
				<key>TableSignature</key>
				<data>
				RFNEVA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Rename AZAL to HDEF (Audio)</string>
				<key>Find</key>
				<data>
				QVpBTA==
				</data>
				<key>Replace</key>
				<data>
				SERFRg==
				</data>
				<key>TableSignature</key>
				<data>
				RFNEVA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Rename HDAS to HDEF (Audio)</string>
				<key>Find</key>
				<data>
				SERBUw==
				</data>
				<key>Replace</key>
				<data>
				SERFRg==
				</data>
				<key>TableSignature</key>
				<data>
				RFNEVA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Rename SAT0 to SATA (Disk)</string>
				<key>Find</key>
				<data>
				U0FUMA==
				</data>
				<key>Replace</key>
				<data>
				U0FUQQ==
				</data>
				<key>TableSignature</key>
				<data>
				RFNEVA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Rename LPC to LPCB (Power)</string>
				<key>Find</key>
				<data>
				TFBDXw==
				</data>
				<key>Replace</key>
				<data>
				TFBDQg==
				</data>
				<key>TableSignature</key>
				<data>
				RFNEVA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Rename _OSI to XOSI (OS)</string>
				<key>Find</key>
				<data>
				X09TSQ==
				</data>
				<key>Replace</key>
				<data>
				WE9TSQ==
				</data>
				<key>TableSignature</key>
				<data>
				RFNEVA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Rename _DSM to XDSM (NVDIMM)</string>
				<key>Find</key>
				<data>
				X0RTTQ==
				</data>
				<key>Replace</key>
				<data>
				WERTTQ==
				</data>
				<key>TableSignature</key>
				<data>
				RFNEVA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Rename _DSM to ZDSM (NVDIMM)</string>
				<key>Find</key>
				<data>
				X0RTTQ==
				</data>
				<key>Replace</key>
				<data>
				WkRTTQ==
				</data>
				<key>TableSignature</key>
				<data>
				RFNEVA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Fix RTC _STA bug</string>
				<key>Find</key>
				<data>
				oAqTU1RBUwE=
				</data>
				<key>Replace</key>
				<data>
				oAqRCv8L//8=
				</data>
				<key>TableSignature</key>
				<data>
				RFNEVA==
				</data>
			</dict>
		</array>
	</dict>
	<key>Kernel</key>
	<dict>
		<key>Patch</key>
		<array>
			<dict>
				<key>Base</key>
				<string></string>
				<key>Comment</key>
				<string>change F%uT%04x to F%uTxxxx in AppleBacklightInjector.kext (credit RehabMan)</string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				RiV1VCUwNHgA
				</data>
				<key>Identifier</key>
				<string>com.apple.driver.AppleBacklight</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>Replace</key>
				<data>
				RiV1VHh4eHgA
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Base</key>
				<string></string>
				<key>Comment</key>
				<string>Prevent Apple I2C kexts from attaching to I2C controllers, credit CoolStar</string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				SU9LaXQ=
				</data>
				<key>Identifier</key>
				<string>com.apple.driver.AppleIntelLpssI2C</string>
				<key>InfoPlistPatch</key>
				<true/>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>Replace</key>
				<data>
				SU9LaXM=
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Base</key>
				<string></string>
				<key>Comment</key>
				<string>Prevent Apple I2C kexts from attaching to I2C controllers, credit CoolStar</string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				SU9LaXQ=
				</data>
				<key>Identifier</key>
				<string>com.apple.driver.AppleIntelLpssI2CController</string>
				<key>InfoPlistPatch</key>
				<true/>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>Replace</key>
				<data>
				SU9LaXM=
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Base</key>
				<string></string>
				<key>Comment</key>
				<string>Enable TRIM for SSD</string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				AEFQUExFIFNTRAA=
				</data>
				<key>Identifier</key>
				<string>com.apple.iokit.IOAHCIBlockStorage</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>Replace</key>
				<data>
				AAAAAAAAAAAAAAA=
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Base</key>
				<string></string>
				<key>Comment</key>
				<string>Disable Intel, Fresco Logic USB3.0 controllers check, 10.9.* (credit Zenith432)</string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				9oDUAAAAgHU6
				</data>
				<key>Identifier</key>
				<string>com.apple.driver.AppleUSBXHCI</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>Replace</key>
				<data>
				9oDUAAAAgOs6
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Base</key>
				<string></string>
				<key>Comment</key>
				<string>Disable Intel, Fresco Logic USB3.0 controllers check, 10.10.* (credit Zenith432)</string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				9oDUAAAAgHU0
				</data>
				<key>Identifier</key>
				<string>com.apple.driver.AppleUSBXHCI</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>Replace</key>
				<data>
				9oDUAAAAgOs0
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Base</key>
				<string></string>
				<key>Comment</key>
				<string>Disable XHCI 1.0 check, 10.9.* (credit Zenith432)</string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				Zj0AAQ==
				</data>
				<key>Identifier</key>
				<string>com.apple.driver.AppleUSBXHCI</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>Replace</key>
				<data>
				Zj0AAA==
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Base</key>
				<string></string>
				<key>Comment</key>
				<string>Disable XHCI 1.0 check, 10.10.* (credit Zenith432)</string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				QbzHAgDgPQABAAA=
				</data>
				<key>Identifier</key>
				<string>com.apple.driver.AppleUSBXHCI</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>Replace</key>
				<data>
				QbzHAgDgPQAAAAA=
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Base</key>
				<string></string>
				<key>Comment</key>
				<string>Patch MSI or pin interrupts #1, 10.9.*, 10.10.* (credit Zenith432)</string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				QcdHCAAAQAA=
				</data>
				<key>Identifier</key>
				<string>com.apple.driver.AppleUSBXHCI</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>Replace</key>
				<data>
				QcdHCAAAAAA=
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Base</key>
				<string></string>
				<key>Comment</key>
				<string>Patch MSI or pin interrupts #2, 10.10.* (credit Zenith432)</string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				gUkIAABAAA==
				</data>
				<key>Identifier</key>
				<string>com.apple.driver.AppleUSBXHCI</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>Replace</key>
				<data>
				gUkIAAAAAA==
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Base</key>
				<string></string>
				<key>Comment</key>
				<string>Disable the sleep code leaving the controller in non-working state after wake, 10.9.*, 10.10.* (credit Zenith432)</string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				xoDIAAAAAQ==
				</data>
				<key>Identifier</key>
				<string>com.apple.driver.AppleUSBXHCI</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>Replace</key>
				<data>
				xoDIAAAAAA==
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Base</key>
				<string></string>
				<key>Comment</key>
				<string>Enable PCI power management if there is no such code in DSDT, 10.9.*, 10.10.* (credit Zenith432)</string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				dU1Ii7voAQAA
				</data>
				<key>Identifier</key>
				<string>com.apple.driver.AppleUSBXHCI</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>Replace</key>
				<data>
				601Ii7voAQAA
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Base</key>
				<string></string>
				<key>Comment</key>
				<string>USB Port limit patch #1/2 10.15.x (credit DalianSky)</string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				g/sPDw==
				</data>
				<key>Identifier</key>
				<string>com.apple.iokit.IOUSBHostFamily</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>MatchKernel</key>
				<string>19.</string>
				<key>Replace</key>
				<data>
				g/s/Dw==
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Base</key>
				<string></string>
				<key>Comment</key>
				<string>USB Port limit patch #2/2 10.15.x (credit DalianSky)</string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				g/kPDw==
				</data>
				<key>Identifier</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>MatchKernel</key>
				<string>19.</string>
				<key>Replace</key>
				<data>
				g/k/Dw==
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
